#app {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

input {
    display: none;
}

#upper {
    max-width: 600px;
    height: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

@keyframes moving {
    from { 
        transform: translateX(100%); 
    }
    to { 
        transform: translateX(-100%); 
    }
}

#now-playing {
    text-align: center;
    width: 100%;
    padding: 0.5em 0;
    font-size: 2em;
    white-space: nowrap;
    animation-name: moving;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#bar-container {
    width: 90%;
}

#bar {
    height: 1em;
    background-color: white;
    cursor: pointer;
    margin-bottom: 0.5em;
}

#progress {
    width: 0%;
    background-color: red;
}

#bar-container > div {
    display: flex;
    justify-content: space-between;
}

#btn-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#backward {
    width: 40px;
    height: 40px;
    background-image: url('../public/fast-forward-btn.svg');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transform: rotate(180deg);
    filter: invert(100%);
}

#play-pause {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    filter: invert(100%);
}

.play-btn {
    background-image: url('../public/play-btn.svg');
}

.pause-btn {
    background-image: url('../public/pause-btn.svg');
}

#forward {
    width: 40px;
    height: 40px;
    background-image: url('../public/fast-forward-btn.svg');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    filter: invert(100%);
}

#lower {
    position: relative;
    max-width: 600px;
    height: 35%;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
}

#upload {
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    background-image: url('../public/upload-btn.svg');
    background-size: cover;
    background-repeat: no-repeat;   
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.song-info {
    width: 100%;
    padding: 1em 0;
    margin: 0 auto;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: solid 1px white;
}

.song-info:nth-child(1) {
    border-top: solid 1px white;
}