#app {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

input {
    display: none;
}

#upper {
    max-width: 600px;
    height: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

@keyframes moving {
    from { 
        transform: translateX(100%); 
    }
    to { 
        transform: translateX(-100%); 
    }
}

#now-playing {
    text-align: center;
    width: 100%;
    padding: 0.5em 0;
    font-size: 2em;
    white-space: nowrap;
    animation-name: moving;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#bar-container {
    width: 90%;
}

#bar {
    height: 0.5em;
    background-color: white;
    cursor: pointer;
    margin-bottom: 1em;
}

#progress {
    position: relative;
    width: 0%;
    background-color: red;
}

#progress-drag {
    position: absolute;
    right: -0.75em;
    top: -0.5em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: red;
}

#bar-container > div {
    display: flex;
    justify-content: space-between;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#play-pause {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    filter: invert(100%);
}

#backward {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transform: rotate(180deg);
    filter: invert(100%);
}

#forward {
    width: 30px;
    height: 30px;
    cursor: pointer;
    filter: invert(100%);
}

#loop {
    width: 25px;
    height: 25px;
    cursor: pointer;
    filter: invert(100%);
}

#shuffle {
    width: 25px;
    height: 25px;
    cursor: pointer;
    filter: invert(100%);
}

#lower {
    position: relative;
    max-width: 600px;
    height: 60%;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
}

#upload {
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    background-image: url('../public/upload-btn.svg');
    background-size: cover;
    background-repeat: no-repeat;   
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.song-info {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.6em 0;
    margin: 0 auto;
    font-size: 1.2em;
    cursor: pointer;
}

.song-info > div {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.song-info:first-child {
    background-color: red;
}

#alarm {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
}

#alarm-header {
    width: 100%;
    padding: 1em 0;    
    font-size: 2em;
    text-align: center;
}

.delete-playlist {
    position: fixed;
    right: 1em;
    bottom: 1em;
    width: 40px;
    height: 40px;
    filter: invert(100%);
    cursor: pointer;
}